.body{
    background-color: #fbc02d;
    color: rgb(253, 247, 247);
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
}

.image-body{
    position: absolute;
    z-index: -10;
    width: 100vw;
    height: 100vh;
}
.container-all{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 95vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.container-div-mode{
    display: flex;
    flex-direction: row;
    /* margin: 20px; */
    justify-content: flex-start;
    padding: 20px;
    align-self: center;
    align-items: center;
    vertical-align:auto;
  
}


.div-mode-span{
    font-size: 35px;
    margin: 10px;
}
.div-radio-button{
    margin: 10px;
    font-size: 25px;
    align-items: center;
    align-self: center;
}

.container-span-button{
    display: flex;
    flex-direction: column;
    margin: 0px auto;
    width: 60vw;
    height: 40vh;
    justify-content: center;
    align-items: center;
}

.span-cyt{
    display: flex;
    flex-direction: column;
    margin: 20px auto;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}

.span-cyt-input{
    width: 60px;
    font-size: 50px;
    background-color: inherit;
    border: 0.5px solid bisque;
    color: inherit;
    text-align: center;
    padding-left: 2px;
}

.span-cyt.text{
    margin: 0px 20px;
}
.span-cyt.text.on {
    display: flex;
}
.input-radio-button.on, .vueltas.on {
    display: inline;
}


.span-cyt.text.off, .input-radio-button.off, .vueltas.off{
    display: none;
}


.span-text-container{
    display: flex;
    flex-direction: row;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 15px;
    margin-right: -18px;
}

.span-button-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 15px;
}

.span-cyt.text.off.n{
    margin: 20px auto;
    margin-right: 0px;
}

.span-cyt.text.on.n{
    margin: 20px auto;
    margin-right: 30px;
}
.span-bastics{
    font-size: 50px;
}

.span-bastics.on{
    display: inherit;
}

.span-bastics.off{
    display: none;
}


.button {
    
    height: 40px;
    width: 100px;
    margin: 10px;
    background-color: #424242;
    color: white;
    border: 1.5px solid rgb(114, 113, 113);
    cursor: pointer;
    border-radius: 7px;
    padding: 10px 10px;
    line-height: 13px;
    font-weight: 400;
    font-size: 18px;
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    box-shadow: 0px 3px 10px rgba(100, 100, 100, 0.205);
    transition: 0.3s;
    opacity: 1;
}

.button :hover{
    box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.35);
    transition: 0.5s;
}

.button.cyt.play.off{
    cursor: not-allowed;
    opacity: 0.5;
    pointer-events: none;
}
.button.cyt.play.visibilityOff{
    display: none;
}
.button.cyt.play.visibilityOn{
    display: flex;
    margin: o auto;
    align-items: center;
    text-align: center;
    justify-content: center;
}


.button.cyt.play.on{
    display: flex;
    background-color: #388e3c;
    margin: o auto;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.button.cyt.stop.off, input.off{
    display: none;
}

.button.cyt.stop.on{
    display: flex;
    background-color: #e53935;
    margin: o auto;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.button.cyt.count.off{
    display: none;
}

.button.cyt.count.on{
    display: flex;
    background-color: #141411;
    margin: o auto;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.button.reset.tempo.off{
    display: none;
}

.button.reset.tempo.on{
    display: flex;
    background-color: #388e3c;
    width: 180px;
    height: 40px;
    margin: o auto;
    align-items: center;
    text-align: center;
    justify-content: center;
}
.container-ul-vueltasMarcadas{
    display: flex;
    flex-direction: row;
}

.container-h3-button-vueltasMarcadas{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.button.decrease.visibilityOff, button.increase.visibilityOff, .button.reset.visibilityOff{
    display: none;
}
.button.decrease.visibilityOn, button.increase.visibilityOn, .button.reset.visibilityOn, input.on{
    /* display: flex; */
    margin: o auto;
    align-items: center;
    text-align: center;
    justify-content: center;
    /* flex-direction: row; */
}

.input.on {
    margin-left: 15px;
}
